.card {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  padding-bottom: 0 !important;
}
.card:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  height: 220px;
  display: block;
  transition: var(--mainTransition);
}
.preise {
  position: absolute;
  top: 0;
  left: 0;
  background: #1f867e;
  color: white;
  padding: 0.3rem 0.6rem 0.1rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.9rem;
  text-align: center;
  transition: var(--mainTransition);
}
.preise h6 {
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.card-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.6;
}
.img-container:hover .preise {
  opacity: 0;
}
.img-container:hover .card-link {
  transform: translate(-50%, -50%) scale(1);
  background-color: #ea4863;
  font-size: 1.3rem;
  opacity: 0.8;
  color: white;
}
.card-info {
  background: #ea4863;
  color: white;
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  margin-top: 1rem;
}
