.title {
  font-family: "Merienda One", cursive;
  font-size: bold;
  font-size: 3.5rem;
  padding: 1rem;
  color: black;
  text-align: center;
}

.historiek {
  color: black;
  margin-top: 7rem;
  font-size: 1.2rem;
  margin-top: 7rem;
}
p {
  line-height: 2.2rem;
}
h2 {
  margin-top: 20px;
}
.figureContainer {
  display: flex;
  align-items: center;
  figure {
    display: flex;

    width: 100%;
    height: 300px;
  }
}
figure {
  margin: 1rem;
  position: relative;

  figcaption {
    background: rgba(85, 15, 15, 0.6);
    color: white !important;
    bottom: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 1rem;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
  }

  p {
    margin-top: 0.5rem;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 701px) {
  figure {
    width: calc(50% - 2rem);

    figcaption {
      height: 50px;
    }

    &:hover {
      figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: height 0.5s ease-in;
        background: rgba(85, 15, 15, 0.9);
      }

      p {
        opacity: 1;
        -webkit-transition: opacity 0.5s ease-in 0.6s;
        -moz-transition: opacity 0.5s ease-in 0.6s;
        -ms-transition: opacity 0.5s ease-in 0.6s;
        transition: opacity 0.5s ease-in 0.6s;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  figure {
    width: 100%;
  }

  p {
    opacity: 1;
  }
  figcaption {
    height: auto;
  }
}
