.navbar {
  background-color: #e91e63;
  height: 7rem;
  .logoImageContainer {
    padding-left: 6rem;
    transform: translate(0, 2rem);
    @media (max-width:768px){display: none;}
    .logoImage {
      width: 6rem;
      //transform: rotate(-35deg) translate(0, 2rem);
    }
  }
  
  @media screen and (max-width: 767px) {
    .historie,
    .stadtplan {
      margin-top: 40px;
      background-color: #e91e63;
      margin: 0 -15px;
    }
  }
  .heinsbergText{
    font-family: "Merienda One", cursive;
    font-size: bold;
    padding-left: 1rem;
    display: none;
    @media (max-width:768px){display: block;}
    .logoImage {
      width: 6rem;
      //transform: rotate(-35deg) translate(0, 2rem);
    }
  }
  .swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float: left;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .swing img {
    border: 5px solid #f8f8f8;
    display: block;
  }
  .swing:after {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border: 1px solid #999;
    top: -13px;
    left: 39%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
  }
  /* nail */
  .swing:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: -18px;
    left: 50%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
  }

  @keyframes swing {
    0% {
      transform: rotate(2deg);
    }
    100% {
      transform: rotate(-2deg);
    }
  }
  .navbarLink {
    font-size: 1.5rem;
    font-family: "Ubuntu Condensed", sans-serif;
    color: white !important;
    &:hover {
      color: #e91e63 !important;
      background-color: white;
      transition: 1s;
      height: 100%;
    }
  }
}
