@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap");

body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Condensed", sans-serif;
  background-color: white;
  width: 100vw;
  height: 100vh;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --mainSpacing: 3px;
}
